
 
  <form class="example-form" [formGroup]="nameForm" (ngSubmit)="saveDataLocal(nameForm.value)">
      <!-- <form class="example-form" [formGroup]="nameForm" > -->

      <!-- <div formArrayName="items" > -->
        <!-- <div *ngFor="let item of nameForm let i=index" [formGroupName]="i"> -->

          <mat-form-field class="example-full-width">
            <input matInput placeholder="New Task" type="text" formControlName="task" >
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Comment" formControlName="description"></textarea>
          </mat-form-field>
          <!-- <button mat-raised-button color="primary"  type="submit"  [disabled] = "!nameForm.valid"  >Aceptar</button>   -->
          <button mat-raised-button color="primary"  type="button" (click)="addNewData()">Agregar</button>  
      
          <!-- <input mat-raised-button color="primary" type="submit" class="button expanded" value="Aceptar" [disabled] = "!taskForm.valid"> -->

        <!-- </div>
  </div> -->
  </form>


<div>
  <mat-card class="example-card">
    <mat-card-content>
      <p>Tarea:{{task}}</p>
      <p>Description:{{description}}</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    <button mat-raised-butto color="primary">Eliminar</button>
    <mat-checkbox >Check me!</mat-checkbox>
  </mat-card>
</div>

