 <!-- <section>
  <form class="example-form">
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Actividad" type="text" [formControl]="task" required>
    </mat-form-field>
    <button mat-raised-button color="primary"  type="submit" (click)="onSubmit()" >Add</button>
  </form>
</section>

<mat-selection-list>
  <ul *ngFor="let item of arrItem; let i=index">
    <li>{{item}}
        <button mat-mini-fab color="accent">Eliminar</button>

    </li>
  </ul>
</mat-selection-list> -->

<div>
    <input  type="text" [(ngModel)]="todoText" value={{todoText}}>
    <button (click)="addTask()" >Add</button>

</div>
     


<div>
  <div *ngFor="let todo of todoService.getTodos()">
      <div>
          <!-- <button (click)="removeTodo()">remove</button> -->
          <p>{{todo.text}}</p>
          <button type="submit" (click)="removeTodo()">X</button>
      </div>
  </div>
</div>


